.contact-form {
  display: flex;
  flex-flow: column wrap;
  padding: 2em 0;

  input::placeholder,
  textarea::placeholder,
  input::-ms-input-placeholder,
  input::-webkit-input-placeholder {
    font-size: 0.8em;
  }

  .form-input {
    width: 100%;
    height: 2.7em;
    margin-bottom: 2em;
    padding-left: 1em;
    outline: none;
    border: 1px solid #090833;
    transition: all .5s ease-in-out;

    &:hover,
    &:focus {
      border: 1px solid #df3249;

    }
  }

  textarea {
    padding: 1em 0 0 1em;
    margin-bottom: 2em;
    outline: none;
    border: 1px solid #090833;

    &:hover,
    &:focus {
      border: 1px solid #df3249;

    }
  }

  .btn-contact {
    width: 25%;
    background: none;
    border: none;
    height: 40px;
    font-size: 0.8em;
    line-height: 40px;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @media (max-width: 840px) {
      width: 100%;
      margin-bottom: 1em;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 40px;
      background-color: none;
      z-index: -2;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      line-height: 40px;

      transition: all 0.3s;
      z-index: -1;
    }

  }
}
